[Desktop Entry]
Type=Service
MimeType=inode/directory;
Actions=openClaude;openVSCode;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false

[Desktop Action openClaude]
Name=Open in Claude
Icon=claude-desktop
Exec=kitty --directory %f claude

[Desktop Action openVSCode]
Name=Open in VS Code
Icon=vscode
Exec=code %f
